 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Banner-barranquilla5.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1202px;
}

.u-section-1 .u-text-1 {
  text-shadow: 4px 4px 8px rgba(66,84,101,0.4);
  font-weight: 700;
  font-size: 6rem;
  letter-spacing: 3px;
  font-family: Lato, sans-serif;
  text-transform: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 217px auto 0 247px;
}

.u-section-1 .u-text-2 {
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: 300;
  font-size: 3.75rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 53px 175px 0 126px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 190px auto 0;
  padding: 20px 55px 21px 54px;
}

.u-section-1 .u-list-1 {
  width: 1035px;
  margin: 126px auto 49px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18.6667px));
  min-height: 303px;
  grid-auto-columns: calc(33.3333% - 18.6667px);
  grid-gap: 28px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 13px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(215, 90, 74) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 25px 0 0 17px;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 13px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 25px 0 0 17px;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 13px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 25px 0 0 17px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 75px;
    margin-left: 26px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18.6667px));
    min-height: 274px;
    grid-auto-columns: calc(33.333333333333336% - 5.33333px);
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-left: 189px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 14.000024999999999px));
    min-height: 671px;
    grid-auto-columns: calc(50% - 3.9999975px);
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 142px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 89px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1159px;
}

.u-section-2 .u-image-1 {
  width: 628px;
  height: 628px;
  background-image: url("images/barranquilla_1200x800.webp");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 96px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 276px;
  height: 276px;
  background-image: url("images/fd0657f119e3d8394714265a7784a668.webp");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -596px auto 0 71px;
}

.u-section-2 .u-image-3 {
  width: 389px;
  height: 389px;
  background-image: url("images/barranquilla-city-tour-4.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 50px auto 0 156px;
}

.u-section-2 .u-shape-1 {
  width: 119px;
  height: 119px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -419px auto 0 20px;
}

.u-section-2 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 39px 69px 0 auto;
}

.u-section-2 .u-group-1 {
  min-height: 272px;
  margin-top: 71px;
  margin-bottom: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1333px;
  }

  .u-section-2 .u-image-1 {
    width: 562px;
    height: 562px;
    margin-right: 60px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 30px;
  }

  .u-section-2 .u-image-3 {
    width: 362px;
    height: 362px;
    margin-left: 171px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 52px;
  }

  .u-section-2 .u-shape-2 {
    width: 227px;
    height: 227px;
    margin-right: 20px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1476px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 13px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 20px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 20px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 13px;
  }

  .u-section-2 .u-shape-2 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1485px;
  }

  .u-section-2 .u-image-1 {
    width: 488px;
    height: 488px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -508px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 323px;
    height: 323px;
    margin-left: -19px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 167px;
    height: 167px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1298px;
  }

  .u-section-2 .u-image-1 {
    width: 293px;
    height: 293px;
  }

  .u-section-2 .u-image-2 {
    width: 212px;
    height: 212px;
    margin-top: -308px;
  }

  .u-section-2 .u-image-3 {
    width: 240px;
    height: 240px;
    margin-left: -14px;
  }

  .u-section-2 .u-shape-1 {
    width: 73px;
    height: 73px;
    margin-top: -370px;
  }

  .u-section-2 .u-shape-2 {
    width: 101px;
    height: 101px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 811px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 8px 377px 0 463px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -36px;
  margin-bottom: 23px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 711px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 2px 30px;
}

.u-section-3 .u-text-2 {
  font-style: normal;
  margin: 269px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 711px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-shape-1 {
  width: 202px;
  height: 202px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 42px 0 0 auto;
}

.u-section-3 .u-image-1 {
  width: 556px;
  height: 556px;
  background-image: url("images/LGYORNZQIVBHZC2NTAJ2KG2NTA.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -130px 0 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 108px;
  height: 108px;
  margin: -421px auto 0 0;
}

.u-section-3 .u-shape-3 {
  width: 250px;
  height: 78px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 182px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 277px;
    margin-left: 363px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 586px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 586px;
  }

  .u-section-3 .u-image-1 {
    width: 504px;
    height: 504px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -369px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 167px;
    margin-left: 253px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 449px;
  }

  .u-section-3 .u-image-1 {
    width: 372px;
    height: 372px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -237px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 77px;
    margin-left: 163px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 561px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
    margin-left: 40px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -185px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 888px;
}

.u-section-4 .u-shape-1 {
  width: 246px;
  height: 246px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 86px 193px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 650px;
  height: 650px;
  background-image: url("images/image-barranquilla-atlantico-el-prado-hotel-8.jfif");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -272px auto 0 51px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  margin: -127px 51px 0 671px;
}

.u-section-4 .u-shape-2 {
  width: 168px;
  height: 168px;
  margin: -17px auto 60px 163px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 0;
    margin-left: 522px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 302px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: -17px;
    margin-left: 122px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-4 .u-shape-1 {
    margin-right: 94px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 183px;
    margin-left: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 711px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 711px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 2px 0;
}

.u-section-5 .u-text-1 {
  font-style: normal;
  font-size: 4.5rem;
  margin: 94px -83px 0 143px;
}

.u-section-5 .u-shape-1 {
  width: 168px;
  height: 168px;
  margin: 94px -52px 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 711px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-shape-2 {
  width: 202px;
  height: 202px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 41px 30px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 556px;
  height: 556px;
  background-image: url("images/E5AfGXWXwAEb6W2.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -243px auto 0 -51px;
}

.u-section-5 .u-shape-3 {
  width: 108px;
  height: 108px;
  margin: -11px 71px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 586px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 586px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 449px;
  }

  .u-section-5 .u-image-1 {
    width: 432px;
    height: 432px;
    margin-left: 0;
  }

  .u-section-5 .u-shape-3 {
    margin-top: 113px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 38px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 561px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 25px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 770px;
}

.u-section-6 .u-shape-1 {
  width: 246px;
  height: 246px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -104px auto 0 0;
}

.u-section-6 .u-image-1 {
  width: 650px;
  height: 650px;
  background-image: url("images/image-barranquilla-atlantico-el-prado-hotel-8.jfif");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -82px auto 0 51px;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  margin: -647px 75px 0 647px;
}

.u-section-6 .u-shape-2 {
  width: 168px;
  height: 168px;
  margin: 51px 107px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 0;
    margin-left: 522px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 302px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: -537px;
    margin-left: 122px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -337px;
    margin-left: 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 799px;
}

.u-section-7 .u-text-1 {
  font-size: 4.5rem;
  margin: 46px 618px 0 104px;
}

.u-section-7 .u-shape-1 {
  width: 246px;
  height: 246px;
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 86px auto 0 190px;
}

.u-section-7 .u-image-1 {
  width: 733px;
  height: 550px;
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
  margin: -332px 61px 0 auto;
}

.u-section-7 .u-shape-2 {
  width: 168px;
  height: 168px;
  margin: -804px 54px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 518px;
    margin-left: 4px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: -147px;
  }

  .u-section-7 .u-image-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 302px;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 540px;
    margin-right: 0;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -794px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 121px;
    margin-right: 122px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: -167px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 405px;
    margin-top: -66px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -207px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 275px;
    margin-right: 0;
  }

  .u-section-7 .u-shape-1 {
    margin-top: -229px;
    margin-left: 94px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 255px;
    margin-top: -4px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 880px;
}

.u-section-8 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 120px 337px 0 98px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1061px;
  margin: 38px 32px 20px auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 636px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 636px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 2px 20px;
}

.u-section-8 .u-image-1 {
  width: 494px;
  height: 494px;
  background-image: url("images/barranquilla.jpg");
  background-position: 50% 50%;
  margin: 91px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 234px;
    margin-left: 0;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 563px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 563px;
  }

  .u-section-8 .u-image-1 {
    width: 390px;
    height: 390px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 14px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 431px;
  }

  .u-section-8 .u-image-1 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 570px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 359px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 622px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 525px;
  margin: 20px 32px 0 auto;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 540px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 32px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-9 .u-image-1 {
  width: 494px;
  height: 494px;
  background-image: url("images/e9f0dd90e71a82b751da777d9b40b916.jpg");
  background-position: 50% 50%;
  margin: -517px auto 60px 32px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-image-1 {
    width: 390px;
    height: 390px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 182px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-image-1 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-layout-wrap-1 {
    margin-right: 15px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 28px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    margin-left: 0;
  }
} .u-section-10 {
  background-image: none;
  min-height: 622px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-10 .u-image-1 {
  min-height: 540px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 32px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/GI-1239627648-Barranquilla-Carnival-1920x1080.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  background-image: none;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 527px;
  }

  .u-section-10 .u-image-1 {
    min-height: 445px;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 423px;
  }

  .u-section-10 .u-image-1 {
    min-height: 341px;
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 338px;
  }

  .u-section-10 .u-image-1 {
    min-height: 256px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 243px;
  }

  .u-section-10 .u-image-1 {
    min-height: 161px;
  }
} .u-section-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('images/AnyConv.com__EyYM3H0XMAE0-Eb.jpg');
  background-position: 50% 50%;
}

.u-section-11 .u-sheet-1 {
  min-height: 800px;
}

.u-section-11 .u-text-1 {
  font-size: 6rem;
  margin: 268px auto 0 0;
}

.u-section-11 .u-text-2 {
  font-size: 1.875rem;
  margin: 52px 314px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-11 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-11 .u-text-1 {
    font-size: 3rem;
  }
}